
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Amazon</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <style>
     
   
   
    /* Add a gray background color and some padding to the footer */
   
  </style>
</head>
<body style="background:whitesmoke;">
<nav class="navbar navbar-inverse">
  <!-- <div class="container-fluid"> -->
    <div class="navbar-header" class="a"  >       
      <a routerlink="home" class="nav-logo-link" tabindex="2">
        <img class="img" src="../assets/selekt.png" style="height:50px; width: 100px;margin-top: 20px; margin-left: 5px">
      </a>
     
      
    </div>
    <div class="collapse navbar-collapse" style="margin-left: 100px" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="home">Home</a></li>
        <li><a routerLink="men">Men</a></li>
        <li><a routerLink="women">women</a></li>
        <li><a routerLink="sports">Sports</a></li>
        <li><a routerLink="#">Contact</a></li>
      </ul>
      
          <input type="input" placeholder="search for products, brands and more" (keyup)="funsearch()" [(ngModel)]="searchtxt" style="margin-top:20px; width:500px; border-radius: 5px;">

     <div class="pull-right" style="color: darkgoldenrod">
     
      <span *ngIf="newa==0"><button class="btn btn-primary" (click)="funloginform()" style="margin-top:20px;">log-in</button></span>&nbsp;&nbsp;
      <span *ngIf="newa==0"><button class="btn btn-primary" (click)="funregform()" style="margin-top:20px;">Register</button></span>&nbsp;&nbsp;
     </div> 
     <span class="dropdown" *ngIf="newa==1">
      <a class="dropdown-toggle fa fa-user-circle pull-right" data-toggle="dropdown" href="#" style="font-size: 35px;"></a>
      <ul class="dropdown-menu" style="left: 170px; ">
      <li><a>Profile</a></li>
      <li><a (click)="logout()">LogOut</a></li>
      </ul>
      <a class="fa fa-shopping-cart pull-right" style="font-size: 30px;margin-right: 30px" ></a>
    </span>
    </div>
  <!-- </div> -->
</nav>
</body>
</html>
<router-outlet></router-outlet>
<div class="container con" [@tri1]="temp" style="position:absolute; background-color:skyblue; width: 800px ;margin-left: 220px">
  <form>



    <!-- <div class="col-sm-12 col-md-6 col-"> -->
    <div class="login1" style="padding-left: 130px; ">
      <div class="login">
        <span class="fa fa-window-close pull-right close" style="font-size:25px;" (click)="funclose()"></span>
        <h2 class="l1">Login</h2>
        <br>
        <h4>Email or mobile phone number:</h4>
        <span class="input-group-text fa fa-user-circle" style="margin-left:17px; margin-top:7px;position:absolute; font-size:25px; "></span>
        <input type="text" name="lid" [(ngModel)]="lid" class="form-control" placeholder="Username" style="width:90%; margin-left:15px; padding:0px 0px 0px 30px;">
        <h4>Password:</h4>
        <span class="input-group-text fa fa-lock" style="margin-left:19px; margin-top:7px;position:absolute; font-size:25px; "></span>
        <input type="password" name="lpd" [(ngModel)]="pwd" class="form-control" placeholder="Password" style="width:90%; margin-left:15px; padding:0px 0px 0px 25px;">
        <br>
        <br> &nbsp;&nbsp;
        <input type="button" name="lg" value="Log-in" class="btn btn-success" style="width:100px; height:40px;" (click)="funlogin()">&nbsp;&nbsp;
        <input type="button" value="Register" (click)="funregform()" name="rg" class="btn btn-warning" style="width:100px; height:40px;">
        <br>
        <br> &nbsp;&nbsp;
        <a style="font-size:18px;">forget Password</a>
      </div>
      <!-- </div> -->
    </div>


  </form>

</div>
<form >
  <div class="container con" [@tri2]="reg" style=" position: absolute;background-color:darkgray; width: 500px;height: 450px;margin-left: 390px;margin-top: -115px" >
          <div class="row">   
              
                  <!-- <div class="col-sm-12 col-md-6"> -->
                      <div class="login1" style="padding-left: 25px;padding-right: 15px" >
                          <div class="login"> 
                              <span class="fa fa-window-close pull-right close" style="font-size:25px;" (click)="funregclose()"></span>
                              <h2 class="l1">Registration</h2><br>
                              <h4>Enter email id:</h4>
                              <span class="input-group-text fa fa-user-circle"  style="margin-left:17px; margin-top:7px;position:absolute; font-size:25px; "></span>
                              <input type="text" class="form-control" name="eid" [(ngModel)]="rid" placeholder="Username" style="width:90%; margin-left:15px; padding:0px 0px 0px 30px;">
                              <h4>Password:</h4>
                              <span class="input-group-text fa fa-lock" style="margin-left:19px; margin-top:7px;position:absolute; font-size:25px; "></span>
                              <input type="password" [(ngModel)]="rpwd" name="pwd" class="form-control" placeholder="Password" style="width:90%; margin-left:15px; padding:0px 0px 0px 25px;">
                              
                              <h4>Retype-Password:</h4>
                              <span class="input-group-text fa fa-lock"  style="margin-left:19px; margin-top:7px;position:absolute; font-size:25px; "></span>
                              <input type="password" class="form-control" name="repwd" [(ngModel)]="rrepwd" placeholder="Password" style="width:90%; margin-left:15px; padding:0px 0px 0px 25px;">
                              
                              <h4>Enter Mobile Number:</h4>
                              <span class="fa fa-mobile" style="margin-left:19px; position:absolute; font-size:35px; "></span>
                              <input type="text" [(ngModel)]="rmob" name="mob" class="form-control" placeholder="Mobile Number" style="width:90%; margin-left:15px; padding:0px 0px 0px 30px;"><br>
                              <span class="pull-right"><input type="button" name="reg" value="Register" class="btn btn-success" style="width:100px; height:40px;" (click)="funreg()"></span>
                  
                          </div>
                      </div>
              <!-- </div> -->
          </div>
      </div>
  </form>