footer {
    background-color: skyblue;
    padding: 25px;
  }
 
  footer .row-main{
    padding-left: 25px;
    padding-right: 0px;
    padding-top: 0px;
  }
  footer p{
    text-align: justify;
    font-weight: normal; 
    font-size:13px;
  }
  footer .footer-follow img{
   height: 50px;
   padding-left: 50px
    
  }